*

!.gitignore
!.bash_profile
!.git-completion.bash
!.vimrc
!.tmux.conf
!.tmuxinator
!.tmuxinator/*
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.bin
!.bin/tmuxinator.bash
!.bash_git
!.bashrc
!.gitconfig

*.DS_Store
.vim/plugged/*
.vim/plugged
